[submodule "projects/MIMO Engine Airpath Control/students submissions/T513---SIEngineDynamometer"]
	path = projects/MIMO Engine Airpath Control/students submissions/T513---SIEngineDynamometer
	url = https://github.com/YorkPatty/T513---SIEngineDynamometer
[submodule "projects/Path Planning for Autonomous Race Cars/students submissions/MW208_AUTON_RACECARS"]
	path = projects/Path Planning for Autonomous Race Cars/students submissions/MW208_AUTON_RACECARS
	url = https://github.com/borealis31/MW208_AUTON_RACECARS
[submodule "projects/Path Planning for Autonomous Race Cars/students submissions/MW_EiI_208_Trajectory_Planning_and_Tracking"]
	path = projects/Path Planning for Autonomous Race Cars/students submissions/MW_EiI_208_Trajectory_Planning_and_Tracking
	url = https://github.com/Arttrm/MW_EiI_208_Trajectory_Planning_and_Tracking
[submodule "projects/Deep Learning for UAV Infrastructure Inspection/student submissions/DL_for_UAV_Infrastructure_Inspection"]
	path = projects/Deep Learning for UAV Infrastructure Inspection/student submissions/DL_for_UAV_Infrastructure_Inspection
	url = https://github.com/karthickai/Deep_Learning_for_UAV_Infrastructure_Inspection
[submodule "projects/Path Planning for Autonomous Race Cars/students submissions/MW208_Raceline_Optimization"]
	path = projects/Path Planning for Autonomous Race Cars/students submissions/MW208_Raceline_Optimization
	url = https://github.com/putta54/MW208_Raceline_Optimization
[submodule "projects/Portable Charging System for Electric Vehicles/student submissions/Portable-Charging-System-for-EVs"]
	path = projects/Portable Charging System for Electric Vehicles/student submissions/Portable-Charging-System-for-EVs
	url = https://github.com/amoriyavageesh01/Portable-Charging-System-for-Electric-Vehicles-1
[submodule "projects/Speech Background Noise Suppression with Deep Learning/student submissions/MATLAB-denoise"]
	path = projects/Speech Background Noise Suppression with Deep Learning/student submissions/MATLAB-denoise
	url = https://github.com/BanmaS/MATLAB-denoise
[submodule "projects/Signal Coverage Maps Using Measurements and Machine Learning/student submissions/coverageMap"]
	path = projects/Signal Coverage Maps Using Measurements and Machine Learning/student submissions/coverageMap
	url = https://github.com/OxygenFunction/coverageMap
[submodule "projects/Behavioral Modelling of Phase-Locked Loop using Deep Learning Techniques/student submissions/PLL-modelling"]
	path = projects/Behavioral Modelling of Phase-Locked Loop using Deep Learning Techniques/student submissions/PLL-modelling
	url = https://github.com/lulf0020/Behavior-modeling-of-PLL
[submodule "projects/Traffic Data Analysis for Modelling and Prediction of Traffic Scenarios/student submissions/Project222"]
	path = projects/Traffic Data Analysis for Modelling and Prediction of Traffic Scenarios/student submissions/Project222
	url = https://github.com/GirolamoOddo/Project222
[submodule "projects/Portable Charging System for Electric Vehicles/student submissions/Portable-Buck-Converter-EV-charger"]
	path = projects/Portable Charging System for Electric Vehicles/student submissions/Portable-Buck-Converter-EV-charger
	url = https://github.com/amrmarey15/Portable-Buck-Converter-Battery-Electric-Vehicle-Charger
[submodule "projects/Face Detection and Human Tracking Robot/student submissions/Face-Detection-and-Human-Tracking-Robot"]
	path = projects/Face Detection and Human Tracking Robot/student submissions/Face-Detection-and-Human-Tracking-Robot
	url = https://github.com/lancg/Face-Detection-and-Human-Tracking-Robot
[submodule "projects/Face Detection and Human Tracking Robot/student submissions/Face-Detection-Car"]
	path = projects/Face Detection and Human Tracking Robot/student submissions/Face-Detection-Car
	url = https://github.com/VoidXia/Face-Detection-Car
[submodule "projects/Autonomous Navigation for Vehicles in Rough Terrain/student submissions/Autonomous-Nav-Rough-Terrain"]
	path = projects/Autonomous Navigation for Vehicles in Rough Terrain/student submissions/Autonomous-Nav-Rough-Terrain
	url = https://github.com/Autonomousanz/Autonomous-Navigation-in-Rough-Terrain
[submodule "projects/Voice Controlled Robot/student submissions/voice-controlled-robot"]
	path = projects/Voice Controlled Robot/student submissions/voice-controlled-robot
	url = https://github.com/young-xx/voice-controlled-robot
[submodule "projects/Aggressive Maneuver Stabilization for a Minidrone/student submissions/project-230"]
	path = projects/Aggressive Maneuver Stabilization for a Minidrone/student submissions/project-230
	url = https://github.com/ouafi98/project-230
[submodule "projects/Machine Learning for Motor Control/student submissions/Machine-Learning-for-Motor-Control-"]
	path = projects/Machine Learning for Motor Control/student submissions/Machine-Learning-for-Motor-Control-
	url = https://github.com/lipun7naik/Machine-Learning-for-Motor-Control-
[submodule "projects/Coastline Prediction using Existing Climate Change Models/student submissions/Climate-Change-Map"]
	path = projects/Coastline Prediction using Existing Climate Change Models/student submissions/Climate-Change-Map
	url = https://github.com/LukeY23/Climate-Change-Map
[submodule "projects/Coastline Prediction using Existing Climate Change Models/student submissions/SeaLevelPredictor"]
	path = projects/Coastline Prediction using Existing Climate Change Models/student submissions/SeaLevelPredictor
	url = https://github.com/skolodz/SeaLevelPredictor
[submodule "projects/Snake-like Robot Modeling and Navigation/student submissions/Snake-Robot"]
	path = projects/Snake-like Robot Modeling and Navigation/student submissions/Snake-Robot
	url = https://github.com/Antoine-ms/Snake-Robot
[submodule "projects/Sensor Fusion for Autonomous Systems/student submissions/EKF-Bike-Multibody-Sensor-Fusion-"]
	path = projects/Sensor Fusion for Autonomous Systems/student submissions/EKF-Bike-Multibody-Sensor-Fusion-
	url = https://github.com/matteo-liguori/EKF-Bike-Multibody-Sensor-Fusion-
[submodule "projects/Quadruped Robot with a Manipulator/student submissions/Quadruped-with-Manipulator-and-Path-Planning"]
	path = projects/Quadruped Robot with a Manipulator/student submissions/Quadruped-with-Manipulator-and-Path-Planning
	url = https://github.com/serenanatalija/Quadruped-with-Manipulator-and-Path-Planning
[submodule "projects/Snake-like Robot Modeling and Navigation/student submissions/Snake-robot-MATLAB"]
	path = projects/Snake-like Robot Modeling and Navigation/student submissions/Snake-robot-MATLAB
	url = https://github.com/bhavikpatel2/Snake-robot-MATLAB
[submodule "projects/Face Detection and Human Tracking Robot/student submissions/Recognizing-and-Tracking-Person-of-Interest"]
	path = projects/Face Detection and Human Tracking Robot/student submissions/Recognizing-and-Tracking-Person-of-Interest
	url = https://github.com/batuhanaavci/Recognizing-and-Tracking-Person-of-Interest
[submodule "projects/Speech Background Noise Suppression with Deep Learning/student submissions/noise-suppression"]
	path = projects/Speech Background Noise Suppression with Deep Learning/student submissions/noise-suppression
	url = https://github.com/YilikaLoufoua/noise-suppression
[submodule "projects/Autonomous Navigation for Vehicles in Rough Terrain/student submissions/Rough-Terrain-Navigation"]
	path = projects/Autonomous Navigation for Vehicles in Rough Terrain/student submissions/Rough-Terrain-Navigation
	url = https://github.com/NairAbhishek1403/Rough-Terrain-Navigation
[submodule "projects/Coastline Prediction using Existing Climate Change Models/student submissions/CoastlinePrediction"]
	path = projects/Coastline Prediction using Existing Climate Change Models/student submissions/CoastlinePrediction
	url = https://github.com/hpintoGH/CoastlinePrediction
[submodule "projects/Predictive Electric Vehicle Cooling/student submissions/Predictive-battery-energy-requirements-"]
	path = projects/Predictive Electric Vehicle Cooling/student submissions/Predictive-battery-energy-requirements-
	url = https://github.com/jellyvisal/Predictive-battery-energy-requirements-.git
[submodule "projects/Intelligent Fan Air Cooling System/student submissions/Intelligent-Fan-Air-Cooling-System"]
	path = projects/Intelligent Fan Air Cooling System/student submissions/Intelligent-Fan-Air-Cooling-System
	url = https://github.com/yuvieeee/Intelligent-Fan-Air-Cooling-System.git
[submodule "projects/Green Hydrogen Production/student submissions/hydrogen-energy-storage"]
	path = projects/Green Hydrogen Production/student submissions/hydrogen-energy-storage
	url = https://github.com/michaelfsb/hydrogen-energy-storage
[submodule "projects/Carbon Neutrality/student submissions/carbon-neutrality-paper"]
	path = projects/Carbon Neutrality/student submissions/carbon-neutrality-paper
	url = https://github.com/hrcheung/carbon-neutrality-paper
[submodule "projects/Wind Turbine Predictive Maintenance Using Machine Learning/student submissions/saranya-manikandan"]
	path = projects/Wind Turbine Predictive Maintenance Using Machine Learning/student submissions/saranya-manikandan
	url = https://github.com/saranya-manikandan-02/Wind-Turbine-Predictive-Maintenance-Using-Machine-Learning
[submodule "projects/Portable Charging System for Electric Vehicles/student submissions/PortableEVCharger"]
	path = projects/Portable Charging System for Electric Vehicles/student submissions/PortableEVCharger
	url = https://github.com/Agr-sagar/Portable-Charging-System-for-Electric-Vehicles
[submodule "projects/Techno-Economic Assessment of Green Hydrogen Production/student submissions/Green-Hydrogen-Production"]
	path = projects/Techno-Economic Assessment of Green Hydrogen Production/student submissions/Green-Hydrogen-Production
	url = https://github.com/Ainshamsuniverity/Techno-Economic-Assessment-of-Green-Hydrogen-Production-Project-Soluation
[submodule "projects/Landslide Susceptibility Mapping using Machine Learning/student submissions/Landslide"]
	path = projects/Landslide Susceptibility Mapping using Machine Learning/student submissions/Landslide
	url = https://github.com/JaidevSK/Landslide-Susceptibility-Mapping-using-Machine-Learning-MATLAB-Excellence-in-Innovation-Project
[submodule "projects/Control, Modeling, Design, and Simulation of Modern HVAC Systems/student submissions/HVAC-Modeling"]
	path = projects/Control, Modeling, Design, and Simulation of Modern HVAC Systems/student submissions/HVAC-Modeling
	url = https://github.com/skaraogl/-Sustainability-and-Renewable-Energy-Challenge.git
